@media (max-width: 640px) {
  body {
    width: 100%;
  }

  header {
    width: 100%;
    max-width: 90%; /* Usa porcentagem ao invés de um valor fixo */
    margin: 0 auto; /* Centraliza */
  }

  .home {
    flex-direction: column !important;
    width: 100%;
    min-height: 100vh;
  }

  .profile__text {
    font-size: 1.4rem;
    text-align: center; /* Centraliza o texto */
  }

  .section__tittle,
  .description__tittle,
  .skills__tittle {
    font-size: 2rem; /* Reduz tamanho em telas menores */
    text-align: center;
  }

  .sobre-mim {
    height: auto;
    flex-direction: column; /* Empilha os elementos verticalmente */
    align-items: center;
    gap: 5vw; /* Usa uma medida relativa */
  }

  .skills__container {
    justify-content: center;
  }

  .projetos {
    height: auto;
    display: flex;
    flex-direction: column; /* Empilha os projetos no mobile */
    align-items: center;
  }

  .card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Permite melhor ajuste */
  }

  .card-container img {
    width: 90%;
    max-width: 350px;
  }

  h2 {
    display: flex;
    justify-content: center;
  }

  .contatos {
    min-height: 100vh; /* Altura mínima da tela */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .social-container {
    flex-direction: column;
    align-items: center;
  }
  .profile__name {
    font-size: 2rem;
    color: #fff;
    
  }
}

  
